<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Styles -->
    <link rel="stylesheet" href="../styles/styleReg.css">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet">
    <!-- title -->
    <title>Registro</title>
</head>

<body>
    <header class="header">
        <img class="header__img" src="../assets/logo-platzi.png" alt="Platzi video">
    </header>
    <section class="login">
        <section class="login__container">
            <h2>Registráte</h2>
            <form class="login__container--form">
                <input class="input" type="text" placeholder="nombre">
                <input class="input" type="text" placeholder="correo">
                <input class="input" type="password" placeholder="contraseña">
                <button class="button">Registrarme</button>
            </form>
            <p class="login__container--inicio"> <a href="">Iniciar sesión</a></p>
        </section>
    </section>
    <footer class="footer">
        <a href="/">terminos de uso</a>
        <a href="/">Declaración de privacidad</a>
        <a href="/">Centro de ayuda</a>        
    </footer>
</body>
</html>