body{
    font-family: 'Mulish', sans-serif;
    margin: 0px;
    background-color:#8F57FD;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    align-items: center;
    /* border: chocolate 1px solid; */
}
.header__img {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}
.login {
    background-color: linear-gradient(#21c08b, #AB88FF);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px, 30px;
    min-height: calc(100vh -200px);
}
